extends layout

block content
  h1= building.name

  p
    strong Address: 
    |  #{building.address}

  p
    strong Description:
    |  #{building.description}

  p
    strong Rating:
    |  #{building.rating} / 5

  if building.facilities && building.facilities.length
    h3 Facilities
    ul
      each f in building.facilities
        li= f

  if building.openingHours && building.openingHours.length
    h3 Opening Hours
    ul
      each h in building.openingHours
        li= h
